body{
  margin: 0px;

}
ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
}
img{
  display: block;
  max-width: 100%;
}
.wrapper{
  overflow: hidden;
}
.slide{
  display: flex;
}
.slide:hover{
  will-change: transform;
}
.slide li{
  flex-shrink: 0;
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0.20px;
  opacity: .8;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  transform: scale(.8);
  transition: .4s;
}
.slide li.active{
  opacity: 1;
  transform: sclae(1);
}
[data-pag="slide"]{
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
}
[data-pag="slide"] li a{
  display: block;
  width: 12px;
  height: 12px;
  background: #FB5;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-pag="slide"] li.active a, [data-pag="slide"] li a:hover{
  background: black;
}

.custom-pag{
  display:flex;
  justify-content:center ;
  margin-top:40px;
  flex-wrap: wrap;
}
.custom-pag li{
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  cursor: pointer;
  transition: .3s;

}

.custom-pag li.active{
  opacity: 1;
  transform: scale(1);
}
.arrow-nav{
  display: flex;
  justify-content: space-around;
  margin: 1em 0 ;
}
.arrow-nav button{
  cursor: pointer;
  border-radius: 2em;
  width: 40px;
  height: 40px;
  background: #FB5 url('../img/arrow.svg') center center no-repeat;
  border:none
}
.arrow-nav button.prev{
  transform: rotate(-180deg);
}